body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.container {
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocks-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header {
  text-transform: uppercase;
  margin-bottom: 2em;
  font-weight: 100;
}

.block {
  box-sizing: border-box;
  width: 23%;
  border-width: 1px 2px 2px 1px;
  border-color: lightgray;
  border-style: solid;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bi {
  color: #999999;
  font-size: x-large;
}

.block-header {
  display: flex;
  justify-content: center;
  color: #ce9465;
}

.block-text {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #999999;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #55c3b6;
  padding: 0.5em 2em;
  color: white;
}
