body {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1024px;
  gap: 20px;
}

.ht {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

img {
  width: 100%;
}
